# Assignment8

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import linear_model

# How Much is Your Car Worth?

Data about the retail price of 2005 General Motors cars can be found in `car_data.csv`.

The columns are:

1. Price: suggested retail price of the used 2005 GM car in excellent condition.
2. Mileage: number of miles the car has been driven
3. Make: manufacturer of the car such as Saturn, Pontiac, and Chevrolet
4. Model: specific models for each car manufacturer such as Ion, Vibe, Cavalier
5. Trim (of car): specific type of car model such as SE Sedan 4D, Quad Coupe 2D          
6. Type: body type such as sedan, coupe, etc.      
7. Cylinder: number of cylinders in the engine        
8. Liter: a more specific measure of engine size     
9. Doors: number of doors           
10. Cruise: indicator variable representing whether the car has cruise control (1 = cruise)
11. Sound: indicator variable representing whether the car has upgraded speakers (1 = upgraded)
12. Leather: indicator variable representing whether the car has leather seats (1 = leather)

## Tasks, Part 1

1. Find the linear regression equation for mileage vs price.
2. Chart the original data and the equation on the chart.
3. Find the equation's $R^2$ score (use the `.score` method) to determine whether the
equation is a good fit for this data. (0.8 and greater is considered a strong correlation.)

## Tasks, Part 2

1. Use mileage, cylinders, liters, doors, cruise, sound, and leather to find the linear regression equation.
2. Find the equation's $R^2$ score (use the `.score` method) to determine whether the
equation is a good fit for this data. (0.8 and greater is considered a strong correlation.)
3. Find the combination of the factors that is the best predictor for price.

## Tasks, Hard Mode

1. Research dummy variables in scikit-learn to see how to use the make, model, and body type.
2. Find the best combination of factors to predict price.

TASK 1

In [42]:
df = pd.read_csv("car_data.csv")

In [3]:
df.head()

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.103129,8221,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.036083,9135,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.847862,13196,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.913140,16342,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.170324,19832,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1

In [4]:
df.isna().sum()

Price       0
Mileage     0
Make        0
Model       0
Trim        0
Type        0
Cylinder    0
Liter       0
Doors       0
Cruise      0
Sound       0
Leather     0
dtype: int64

**Checking for outliers**

In [5]:
s = df['Mileage'].values
q3=np.quantile(s,0.75)
q1=np.quantile(s,0.25)
iqr=q3-q1
max=q3+(1.5*iqr)
print(max)

41097.25

In [6]:
df = df[df['Mileage']<41097]

In [7]:
x = df[['Mileage']].values
y=df['Price'].values

In [8]:
df.corr()

,Price,Mileage,Cylinder,Liter,Doors,Cruise,Sound,Leather
Price,1.000000,-0.165933,0.567626,0.558134,-0.132153,0.431234,-0.129252,0.155033
Mileage,-0.165933,1.000000,-0.037775,-0.021933,-0.009303,0.014429,-0.030436,-0.011275
Cylinder,0.567626,-0.037775,1.000000,0.957882,0.003515,0.354907,-0.095215,0.074018
Liter,0.558134,-0.021933,0.957882,1.000000,-0.079470,0.378315,-0.069633,0.086697
Doors,-0.132153,-0.009303,0.003515,-0.079470,1.000000,-0.046554,-0.059822,-0.060832
Cruise,0.431234,0.014429,0.354907,0.378315,-0.046554,1.000000,-0.092987,-0.072952
Sound,-0.129252,-0.030436,-0.095215,-0.069633,-0.059822,-0.092987,1.000000,0.165051
Leather,0.155033,-0.011275,0.074018,0.086697,-0.060832,-0.072952,0.165051,1.000000

After transforming the feature we get low correlation than orginal.

In [9]:
df.head()

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.103129,8221,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.036083,9135,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.847862,13196,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.913140,16342,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.170324,19832,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3,random_state=2)

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler() #initialising
scaler.fit(X_train) # find the values of mu and sigma
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test) #only transform the test dataset, dont fit it

In [12]:
from sklearn.linear_model import LinearRegression #importing all the required functions
regressor = LinearRegression(fit_intercept = True) #initialise my Linear Regression predictedScore = m * Ground Temprature + c
regressor.fit(X_train, y_train) #Learning happens - GD is done and we get the final values of m and c

LinearRegression()

In [13]:
print(regressor.intercept_)#c
print(regressor.coef_)#m

21545.34392645727
[-1883.49312134]

In [14]:
y_pred = regressor.predict(X_test) # given the features of the test dataset, it will give the final predictions
"Syntax : varName.predict(test_features)"
y_pred

array([20505.62472687, 16496.10633697, 21608.63249911, 24243.17507688,
       19570.05466963, 20466.36673155, 18683.20236562, 19851.24597349,
       24004.55268361, 20658.39981711, 22024.38885923, 23470.31285568,
       18107.33960289, 21095.20413857, 22533.5603287 , 20043.98854089,
       20714.68537667, 21181.5244295 , 21516.63635344, 20388.79671669,
       19626.10373524, 20887.08946457, 21610.05146279, 21190.27470556,
       21011.24878713, 20113.99074942, 19530.79667431, 20652.72396236,
       19743.87772122, 23326.7610294 , 21409.03160722, 23431.52784825,
       25052.93035392, 21060.6760222 , 23105.40269432, 20670.22451449,
       22557.91920532, 20695.05637901, 22636.67168991, 20367.51226139,
       22711.4037774 , 19647.38819054, 20869.82540638, 23213.95341633,
       19681.67981296, 20497.8204266 , 17498.60418142, 22030.53770187,
       22068.14023956, 20477.00895919, 21035.3711698 , 25749.40503   ,
       20594.78294517, 22003.57739183, 20855.16278162, 25905.49103551,
       20059.59714144, 18746.81923756, 22553.89880821, 21177.26753844,
       20743.77413224, 16912.57217893, 21275.41252675, 20025.30551902,
       17979.39637716, 20097.90916098, 24860.66077441, 21498.89930736,
       17701.04300068, 20952.12530019, 21653.80284312, 18346.1984901 ,
       22303.45171755, 20020.57564007, 20434.20355465, 19954.12084075,
       22210.98258399, 19578.3319578 , 22639.27312334, 19611.91409838,
       23215.84536792, 22729.14082348, 20898.20468011, 20750.63245672,
       22111.41863199, 23472.20480726, 20175.00618794, 23758.36248402,
       22955.93851935, 19792.8319684 , 19011.69245903, 25605.14372188,
       20965.13246732, 22399.94124823, 18110.65051816, 21597.51728356,
       20433.73056676, 20536.36894008, 20845.46652977, 23013.17005471,
       24679.97939834, 22855.42859157, 18691.47965379, 21015.03269029,
       19960.50617734, 20122.03154364, 23965.53118224, 20883.06906746,
       25010.59793728, 17849.08821196, 19446.84132286, 20036.89372246,
       20999.89707764, 25975.49324404, 20006.8589911 , 19100.37768943,
       22364.94014396, 21736.10273694, 20774.99133334, 22802.21745333,
       19608.13019522, 22321.18876363, 20655.08890184, 22224.69923296,
       19685.93670402, 23809.44517673, 22026.28081081, 19700.83582273,
       19791.17651076, 19917.46427885, 20996.82265632, 21443.32322964,
       21759.27914381, 20041.62360141, 23681.02896311, 20657.92682921,
       19745.2966849 , 20236.02162645, 25452.84161954, 20808.57347392,
       21731.60935193, 25025.73354993, 22544.4390503 , 20100.9835823 ,
       26062.9960047 , 19598.67043731, 22315.74940284, 24132.96889723,
       19190.71837746, 21249.87118039, 17892.3666044 , 21550.45498796,
       19899.49073883, 20250.92074516, 20924.9284962 , 22366.1226137 ,
       21057.12861299, 20161.99902081, 21198.31549979, 25445.03731927,
       21522.54870213, 20133.38325314, 21156.45607104, 20411.50013567,
       20091.52382439, 19969.01995946, 21467.20911836, 20944.32099992,
       24722.07532104, 22025.80782291, 24565.51632764, 19986.52051159,
       20738.80775934, 23188.64856393, 20610.15505177, 21058.54757668,
       21788.84088728, 19517.78950718, 21965.02887834, 19882.46317459,
       18604.21338708, 20123.68700128, 21025.43842399, 20143.78898684,
       18607.52430235, 24204.39006945, 23907.59016504, 20577.75538093,
       16969.56722033, 20963.47700969, 25201.921541  , 22192.29956212,
       20833.16884448, 18639.68747924, 21072.73721354, 20505.15173898,
       21937.35908646, 22040.94343557, 20809.75594366, 22325.91864259,
       25418.31350317, 22760.35802458, 24653.96506409, 22855.66508552,
       24757.07642531, 25268.61283426, 19858.10429797, 21359.13138425,
       18806.88870029, 19223.35454225, 23283.00964907, 22867.9627708 ,
       18233.15438308, 20448.15669757, 21497.95333157, 20724.14513458,
       22041.65291741, 21514.27141396, 20695.05637901, 21523.49467792,
       20173.58722425, 20452.65008258, 21487.78409181, 19433.59766179,
       22323.55370311, 21533.42742373, 20083.48303016, 25715.11340758,
       23056.21195319, 20771.44392412, 21682.18211685, 23275.67833669,
       21967.63031177, 19864.25314061, 22218.78688426, 20918.07017172,
       17480.39414744, 21834.24772525, 22695.79517685, 22072.63362456])

In [15]:
from sklearn import metrics 
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))#y_test = truevalue, y_pred=predicted value
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('R2- SCORE:', metrics.r2_score(y_test,y_pred))

Mean Absolute Error: 7377.993156727
Mean Squared Error: 86908995.04661414
R2- SCORE: -0.0027119934893202746

Task 1 correlation is too low. Even after tranforming it the correlation is not upto the mark.So we get the r2 too low

TASK 2

In [16]:
df

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.103129,8221,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.036083,9135,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.847862,13196,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.913140,16342,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.170324,19832,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
799,16507.070267,16229,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,0,0
800,16175.957604,19095,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,1,0
801,15731.132897,20484,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,1,0
802,15118.893228,25979,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,1,0
803,13585.636802,35662,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,0,0

In [17]:
df.head()

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.103129,8221,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.036083,9135,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.847862,13196,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.913140,16342,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.170324,19832,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1

In [18]:
x=df[['Mileage','Cylinder','Liter','Doors','Cruise','Sound','Leather']].values
y=df['Price'].values

In [19]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=77)
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(xtrain)
xtrain=scaler.transform(xtrain)
xtest=scaler.transform(xtest)
from sklearn.linear_model import LinearRegression
regressor=LinearRegression(fit_intercept=True)
regressor.fit(xtrain,ytrain)
print(regressor.intercept_)
print(regressor.coef_)

20877.545652171415
[-1484.35788484  4312.58178277  -277.87321224  -925.31181413
  2688.56066644 -1025.79085605  1344.60825081]

In [20]:
ypred=regressor.predict(xtest)

In [21]:
from sklearn import metrics
print(metrics.mean_absolute_error(ytest,ypred),metrics.mean_squared_error(ytest,ypred),metrics.r2_score(ytest,ypred))

6127.617059615296 63805396.65855408 0.45250397060580805

In [22]:
from sklearn.feature_selection import RFE
estimator = LinearRegression()
selector = RFE(estimator, n_features_to_select=1, step=1)
selector = selector.fit(xtrain, ytrain)
list(zip(['Mileage', 'Cylinder', 'Liter',
       'Doors','Cruise','Sound','Leather'],selector.support_))

[('Mileage', False),
 ('Cylinder', True),
 ('Liter', False),
 ('Doors', False),
 ('Cruise', False),
 ('Sound', False),
 ('Leather', False)]

**From above solution Cylinder is the best one**

**TASK HARD**

**ONE HOT ENCODING**

In [23]:
from sklearn.preprocessing import OneHotEncoder

In [24]:
encoder = OneHotEncoder(sparse=False)

In [25]:
a = encoder.fit_transform(df[['Make']])

In [26]:
encoder.categories_

[array(['Buick', 'Cadillac', 'Chevrolet', 'Pontiac', 'SAAB', 'Saturn'],
       dtype=object)]

In [27]:
encoder_df= pd.DataFrame(a)
encoder_df

       0    1    2    3    4    5
0    1.0  0.0  0.0  0.0  0.0  0.0
1    1.0  0.0  0.0  0.0  0.0  0.0
2    1.0  0.0  0.0  0.0  0.0  0.0
3    1.0  0.0  0.0  0.0  0.0  0.0
4    1.0  0.0  0.0  0.0  0.0  0.0
..   ...  ...  ...  ...  ...  ...
794  0.0  0.0  0.0  0.0  0.0  1.0
795  0.0  0.0  0.0  0.0  0.0  1.0
796  0.0  0.0  0.0  0.0  0.0  1.0
797  0.0  0.0  0.0  0.0  0.0  1.0
798  0.0  0.0  0.0  0.0  0.0  1.0

[799 rows x 6 columns]

In [28]:
encoder_df.columns=['Buick', 'Cadillac', 'Chevrolet', 'Pontiac', 'SAAB', 'Saturn']
encoder_df

     Buick  Cadillac  Chevrolet  Pontiac  SAAB  Saturn
0      1.0       0.0        0.0      0.0   0.0     0.0
1      1.0       0.0        0.0      0.0   0.0     0.0
2      1.0       0.0        0.0      0.0   0.0     0.0
3      1.0       0.0        0.0      0.0   0.0     0.0
4      1.0       0.0        0.0      0.0   0.0     0.0
..     ...       ...        ...      ...   ...     ...
794    0.0       0.0        0.0      0.0   0.0     1.0
795    0.0       0.0        0.0      0.0   0.0     1.0
796    0.0       0.0        0.0      0.0   0.0     1.0
797    0.0       0.0        0.0      0.0   0.0     1.0
798    0.0       0.0        0.0      0.0   0.0     1.0

[799 rows x 6 columns]

In [29]:
df=df.join(encoder_df)

In [30]:
df

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather,Buick,Cadillac,Chevrolet,Pontiac,SAAB,Saturn
0,17314.103129,8221,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1,1.0,0.0,0.0,0.0,0.0,0.0
1,17542.036083,9135,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0,1.0,0.0,0.0,0.0,0.0,0.0
2,16218.847862,13196,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0,1.0,0.0,0.0,0.0,0.0,0.0
3,16336.913140,16342,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0,1.0,0.0,0.0,0.0,0.0,0.0
4,16339.170324,19832,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,16507.070267,16229,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
800,16175.957604,19095,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN
801,15731.132897,20484,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN
802,15118.893228,25979,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN
803,13585.636802,35662,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df.drop("Make",axis=1)

,Price,Mileage,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather,Buick,Cadillac,Chevrolet,Pontiac,SAAB,Saturn
0,17314.103129,8221,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1,1.0,0.0,0.0,0.0,0.0,0.0
1,17542.036083,9135,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0,1.0,0.0,0.0,0.0,0.0,0.0
2,16218.847862,13196,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0,1.0,0.0,0.0,0.0,0.0,0.0
3,16336.913140,16342,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0,1.0,0.0,0.0,0.0,0.0,0.0
4,16339.170324,19832,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,16507.070267,16229,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
800,16175.957604,19095,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN
801,15731.132897,20484,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN
802,15118.893228,25979,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN
803,13585.636802,35662,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df.corr()

,Price,Mileage,Cylinder,Liter,Doors,Cruise,Sound,Leather,Buick,Cadillac,Chevrolet,Pontiac,SAAB,Saturn
Price,1.000000,-0.165933,0.567626,0.558134,-0.132153,0.431234,-0.129252,0.155033,-0.017290,0.644599,-0.399108,-0.135882,0.327446,-0.189518
Mileage,-0.165933,1.000000,-0.037775,-0.021933,-0.009303,0.014429,-0.030436,-0.011275,0.032713,-0.062355,0.000492,-0.028703,0.044173,0.016202
Cylinder,0.567626,-0.037775,1.000000,0.957882,0.003515,0.354907,-0.095215,0.074018,0.178892,0.525276,-0.151584,0.129772,-0.364491,-0.225475
Liter,0.558134,-0.021933,0.957882,1.000000,-0.079470,0.378315,-0.069633,0.086697,0.189429,0.397494,-0.123776,0.129706,-0.328532,-0.192890
Doors,-0.132153,-0.009303,0.003515,-0.079470,1.000000,-0.046554,-0.059822,-0.060832,0.186440,0.102435,-0.141824,0.023149,-0.025339,-0.064941
Cruise,0.431234,0.014429,0.354907,0.378315,-0.046554,1.000000,-0.092987,-0.072952,0.193582,0.189519,-0.290753,0.015621,0.215095,-0.197502
Sound,-0.129252,-0.030436,-0.095215,-0.069633,-0.059822,-0.092987,1.000000,0.165051,-0.011715,-0.093617,0.255562,-0.072509,-0.083330,-0.140126
Leather,0.155033,-0.011275,0.074018,0.086697,-0.060832,-0.072952,0.165051,1.000000,-0.217219,0.200968,0.150929,-0.091087,0.000515,-0.124054
Buick,-0.017290,0.032713,0.178892,0.189429,0.186440,0.193582,-0.011715,-0.217219,1.000000,-0.109694,-0.274312,-0.160218,-0.134235,-0.095703
Cadillac,0.644599,-0.062355,0.525276,0.397494,0.102435,0.189519,-0.093617,0.200968,-0.109694,1.000000,-0.268556,-0.156856,-0.131418,-0.093694
Chevrolet,-0.399108,0.000492,-0.151584,-0.123776,-0.141824,-0.290753,0.255562,0.150929,-0.274312,-0.268556,1.000000,-0.392250,-0.328637,-0.234302
Pontiac,-0.135882,-0.028703,0.129772,0.129706,0.023149,0.015621,-0.072509,-0.091087,-0.160218,-0.156856,-0.392250,1.000000,-0.191948,-0.136849
SAAB,0.327446,0.044173,-0.364491,-0.328532,-0.025339,0.215095,-0.083330,0.000515,-0.134235,-0.131418,-0.328637,-0.191948,1.000000,-0.114656
Saturn,-0.189518,0.016202,-0.225475,-0.192890,-0.064941,-0.197502,-0.140126,-0.124054,-0.095703,-0.093694,-0.234302,-0.136849,-0.114656,1.000000

**FROM THE ABOVE CORRELATION THE CADILAC MAKE IS THE BEST FACTOR FOR PRICE**

In [33]:
b = encoder.fit_transform(df[['Model']])
encoder.categories_

[array(['9-2X AWD', '9_3', '9_3 HO', '9_5', '9_5 HO', 'AVEO', 'Bonneville',
        'CST-V', 'CTS', 'Cavalier', 'Century', 'Classic', 'Cobalt',
        'Corvette', 'Deville', 'G6', 'GTO', 'Grand Am', 'Grand Prix',
        'Impala', 'Ion', 'L Series', 'Lacrosse', 'Lesabre', 'Malibu',
        'Monte Carlo', 'Park Avenue', 'STS-V6', 'STS-V8', 'Sunfire',
        'Vibe', 'XLR-V8'], dtype=object)]

In [37]:
encoder_df= pd.DataFrame(b)
encoder_df

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
796,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
encoder_df.columns=['9-2X AWD', '9_3', '9_3 HO', '9_5', '9_5 HO', 'AVEO', 'Bonneville','CST-V', 'CTS', 'Cavalier', 'Century', 'Classic', 'Cobalt','Corvette', 'Deville', 'G6', 'GTO', 'Grand Am', 'Grand Prix','Impala', 'Ion', 'L Series', 'Lacrosse', 'Lesabre', 'Malibu','Monte Carlo', 'Park Avenue', 'STS-V6', 'STS-V8', 'Sunfire','Vibe', 'XLR-V8']
encoder_df

,9-2X AWD,9_3,9_3 HO,9_5,9_5 HO,AVEO,Bonneville,CST-V,CTS,Cavalier,...,Lacrosse,Lesabre,Malibu,Monte Carlo,Park Avenue,STS-V6,STS-V8,Sunfire,Vibe,XLR-V8
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
796,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
df=df.join(encoder_df)
df.drop("Model",axis=1)

,Price,Mileage,Make,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,...,Lacrosse,Lesabre,Malibu,Monte Carlo,Park Avenue,STS-V6,STS-V8,Sunfire,Vibe,XLR-V8
0,17314.103129,8221,Buick,Sedan 4D,Sedan,6,3.1,4,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,17542.036083,9135,Buick,Sedan 4D,Sedan,6,3.1,4,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,16218.847862,13196,Buick,Sedan 4D,Sedan,6,3.1,4,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,16336.913140,16342,Buick,Sedan 4D,Sedan,6,3.1,4,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,16339.170324,19832,Buick,Sedan 4D,Sedan,6,3.1,4,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799,16507.070267,16229,Saturn,L300 Sedan 4D,Sedan,6,3.0,4,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
800,16175.957604,19095,Saturn,L300 Sedan 4D,Sedan,6,3.0,4,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
801,15731.132897,20484,Saturn,L300 Sedan 4D,Sedan,6,3.0,4,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
802,15118.893228,25979,Saturn,L300 Sedan 4D,Sedan,6,3.0,4,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
803,13585.636802,35662,Saturn,L300 Sedan 4D,Sedan,6,3.0,4,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df.corr()

,Price,Mileage,Cylinder,Liter,Doors,Cruise,Sound,Leather,9-2X AWD,9_3,...,Lacrosse,Lesabre,Malibu,Monte Carlo,Park Avenue,STS-V6,STS-V8,Sunfire,Vibe,XLR-V8
Price,1.000000,-0.143051,0.569086,0.558146,-0.138750,0.430851,-0.124348,0.157197,0.049919,0.104365,...,-0.006033,-0.028276,-0.115977,-0.037278,0.042660,0.180805,0.237725,-0.048641,-0.115722,0.441397
Mileage,-0.143051,1.000000,-0.029461,-0.018641,-0.016944,0.025037,-0.026146,0.001005,0.035220,-0.000154,...,0.035125,0.034466,-0.019621,0.005996,-0.016816,-0.024354,-0.014276,0.037696,0.000434,-0.048524
Cylinder,0.569086,-0.029461,1.000000,0.957897,0.002206,0.354285,-0.089704,0.075520,-0.064517,-0.141956,...,0.104587,0.084845,0.150881,0.104587,0.084845,0.075814,0.205423,-0.005191,-0.179648,0.210118
Liter,0.558146,-0.018641,0.957897,1.000000,-0.079259,0.377509,-0.065527,0.087332,-0.047203,-0.150554,...,0.112115,0.110228,0.121464,0.132312,0.110228,0.067290,0.148552,0.021580,-0.213415,0.150470
Doors,-0.138750,-0.016944,0.002206,-0.079259,1.000000,-0.047674,-0.062530,-0.061969,0.039620,-0.105771,...,0.110323,0.089498,0.159155,-0.322685,0.089498,0.062882,0.062882,-0.201555,0.063929,-0.163234
Cruise,0.430851,0.025037,0.354285,0.377509,-0.047674,1.000000,-0.091730,-0.070573,0.040850,0.051895,...,0.113749,0.092278,-0.209260,0.098525,0.092278,0.064835,0.064835,0.012772,-0.190725,0.061469
Sound,-0.124348,-0.026146,-0.089704,-0.065527,-0.062530,-0.091730,1.000000,0.165444,-0.065304,-0.051269,...,-0.033693,0.024174,0.185470,-0.019583,-0.010164,-0.019204,-0.019204,0.077300,-0.104239,0.047872
Leather,0.157197,0.001005,0.075520,0.087332,-0.061969,-0.070573,0.165444,1.000000,0.043313,-0.126321,...,-0.116233,-0.118309,0.163312,-0.160640,-0.100297,0.068743,0.068743,0.068743,-0.101431,0.065174
9-2X AWD,0.049919,0.035220,-0.064517,-0.047203,0.039620,0.040850,-0.065304,0.043313,1.000000,-0.011071,...,-0.014010,-0.011366,-0.020212,-0.014010,-0.011366,-0.007986,-0.007986,-0.007986,-0.014010,-0.007571
9_3,0.104365,-0.000154,-0.141956,-0.150554,-0.105771,0.051895,-0.051269,-0.126321,-0.011071,1.000000,...,-0.030827,-0.025008,-0.044472,-0.030827,-0.025008,-0.017571,-0.017571,-0.017571,-0.030827,-0.016659
9_3 HO,0.201282,0.032572,-0.206040,-0.212064,-0.146338,0.130460,-0.056069,-0.044506,-0.016068,-0.035355,...,-0.044743,-0.036297,-0.064547,-0.044743,-0.036297,-0.025503,-0.025503,-0.025503,-0.044743,-0.024179
9_5,0.167568,0.021491,-0.179648,-0.140349,0.110323,0.113749,-0.033693,0.061396,-0.014010,-0.030827,...,-0.039012,-0.031648,-0.056280,-0.039012,-0.031648,-0.022236,-0.022236,-0.022236,-0.039012,-0.021082
9_5 HO,0.112346,0.048813,-0.145738,-0.106628,0.089498,0.092278,0.007005,0.097840,-0.011366,-0.025008,...,-0.031648,-0.025674,-0.045656,-0.031648,-0.025674,-0.018039,-0.018039,-0.018039,-0.031648,-0.017102
AVEO,-0.262752,0.011130,-0.231830,-0.343872,0.136846,-0.242203,-0.058783,-0.114296,-0.020212,-0.044472,...,-0.056280,-0.045656,-0.081191,-0.056280,-0.045656,-0.032079,-0.032079,-0.032079,-0.056280,-0.030413
Bonneville,-0.008181,-0.001300,0.199333,0.183399,0.079394,0.113749,-0.047802,0.016988,-0.014010,-0.030827,...,-0.039012,-0.031648,-0.056280,-0.039012,-0.031648,-0.022236,-0.022236,-0.022236,-0.039012,-0.021082
CST-V,0.268911,-0.006454,0.221624,0.270444,0.062882,0.064835,-0.043330,0.068743,-0.007986,-0.017571,...,-0.022236,-0.018039,-0.032079,-0.022236,-0.018039,-0.012674,-0.012674,-0.012674,-0.022236,-0.012016
CTS,0.103218,-0.043865,0.059613,-0.024129,0.062882,0.064835,0.053174,0.068743,-0.007986,-0.017571,...,-0.022236,-0.018039,-0.032079,-0.022236,-0.018039,-0.012674,-0.012674,-0.012674,-0.022236,-0.012016
Cavalier,-0.247201,0.001110,-0.259167,-0.220468,-0.175490,-0.121411,0.185470,0.152635,-0.020212,-0.044472,...,-0.056280,-0.045656,-0.081191,-0.056280,-0.045656,-0.032079,-0.032079,-0.032079,-0.056280,-0.030413
Century,-0.061313,-0.016821,0.059613,0.006344,0.062882,0.064835,0.004922,-0.083125,-0.007986,-0.017571,...,-0.022236,-0.018039,-0.032079,-0.022236,-0.018039,-0.012674,-0.012674,-0.012674,-0.022236,-0.012016
Classic,-0.090732,0.013776,-0.102397,-0.085076,0.062882,-0.039292,0.077300,0.068743,-0.007986,-0.017571,...,-0.022236,-0.018039,-0.032079,-0.022236,-0.018039,-0.012674,-0.012674,-0.012674,-0.022236,-0.012016
Cobalt,-0.194508,-0.010690,-0.235001,-0.195248,-0.098438,-0.149919,0.177404,0.157766,-0.018327,-0.040325,...,-0.051032,-0.041399,-0.073620,-0.051032,-0.041399,-0.029087,-0.029087,-0.029087,-0.051032,-0.027577
Corvette,0.254767,-0.031442,0.269312,0.373347,-0.249229,0.055228,0.007005,0.097840,-0.011366,-0.025008,...,-0.031648,-0.025674,-0.045656,-0.031648,-0.025674,-0.018039,-0.018039,-0.018039,-0.031648,-0.017102
Deville,0.294818,-0.007067,0.382039,0.273587,0.108398,0.111765,-0.153570,0.118501,-0.013766,-0.030289,...,-0.038331,-0.031096,-0.055298,-0.038331,-0.031096,-0.021848,-0.021848,-0.021848,-0.038331,-0.020714
G6,-0.019240,-0.033856,0.082644,0.069569,0.087176,0.089884,-0.068872,-0.070915,-0.011071,-0.024359,...,-0.030827,-0.025008,-0.044472,-0.030827,-0.025008,-0.017571,-0.017571,-0.017571,-0.030827,-0.016659
GTO,0.049690,0.006688,0.173021,0.212545,-0.122224,0.064835,-0.019204,-0.007191,-0.007986,-0.017571,...,-0.022236,-0.018039,-0.032079,-0.022236,-0.018039,-0.012674,-0.012674,-0.012674,-0.022236,-0.012016
Grand Am,-0.086714,-0.095302,0.004141,-0.006151,-0.098684,-0.092973,0.092850,0.061815,-0.011366,-0.025008,...,-0.031648,-0.025674,-0.045656,-0.031648,-0.025674,-0.018039,-0.018039,-0.018039,-0.031648,-0.017102
Grand Prix,-0.074699,0.022120,0.076164,0.107363,0.110323,0.068078,-0.047802,-0.131035,-0.014010,-0.030827,...,-0.039012,-0.031648,-0.056280,-0.039012,-0.031648,-0.022236,-0.022236,-0.022236,-0.039012,-0.021082
Impala,-0.013438,0.014440,0.123536,0.162014,0.079394,0.113749,-0.033693,-0.057023,-0.014010,-0.030827,...,-0.039012,-0.031648,-0.056280,-0.039012,-0.031648,-0.022236,-0.022236,-0.022236,-0.039012,-0.021082
Ion,-0.171185,0.001866,-0.235001,-0.189187,-0.098438,-0.197713,-0.121591,-0.121065,-0.018327,-0.040325,...,-0.051032,-0.041399,-0.073620,-0.051032,-0.041399,-0.029087,-0.029087,-0.029087,-0.051032,-0.027577
L Series,-0.076709,0.020011,-0.021392,-0.044445,0.062882,-0.039292,-0.067457,-0.032503,-0.007986,-0.017571,...,-0.022236,-0.018039,-0.032079,-0.022236,-0.018039,-0.012674,-0.012674,-0.012674,-0.022236,-0.012016
Lacrosse,-0.006033,0.035125,0.104587,0.112115,0.110323,0.113749,-0.033693,-0.116233,-0.014010,-0.030827,...,1.000000,-0.031648,-0.056280,-0.039012,-0.031648,-0.022236,-0.022236,-0.022236,-0.039012,-0.021082
Lesabre,-0.028276,0.034466,0.084845,0.110228,0.089498,0.092278,0.024174,-0.118309,-0.011366,-0.025008,...,-0.031648,1.000000,-0.045656,-0.031648,-0.025674,-0.018039,-0.018039,-0.018039,-0.031648,-0.017102
Malibu,-0.115977,-0.019621,0.150881,0.121464,0.159155,-0.209260,0.185470,0.163312,-0.020212,-0.044472,...,-0.056280,-0.045656,1.000000,-0.056280,-0.045656,-0.032079,-0.032079,-0.032079,-0.056280,-0.030413
Monte Carlo,-0.037278,0.005996,0.104587,0.132312,-0.322685,0.098525,-0.019583,-0.160640,-0.014010,-0.030827,...,-0.039012,-0.031648,-0.056280,1.000000,-0.031648,-0.022236,-0.022236,-0.022236,-0.039012,-0.021082
Park Avenue,0.042660,-0.016816,0.084845,0.110228,0.089498,0.092278,-0.010164,-0.100297,-0.011366,-0.025008,...,-0.031648,-0.025674,-0.045656,-0.031648,1.000000,-0.018039,-0.018039,-0.018039,-0.031648,-0.017102
STS-V6,0.180805,-0.024354,0.075814,0.067290,0.062882,0.064835,-0.019204,0.068743,-0.007986,-0.017571,...,-0.022236,-0.018039,-0.032079,-0.022236,-0.018039,1.000000,-0.012674,-0.012674,-0.022236,-0.012016
STS-V8,0.237725,-0.014276,0.205423,0.148552,0.062882,0.064835,-0.019204,0.068743,-0.007986,-0.017571,...,-0.022236,-0.018039,-0.032079,-0.022236,-0.018039,-0.012674,1.000000,-0.012674,-0.022236,-0.012016
Sunfire,-0.048641,0.037696,-0.005191,0.021580,-0.201555,0.012772,0.077300,0.068743,-0.007986,-0.017571,...,-0.022236,-0.018039,-0.032079,-0.022236,-0.018039,-0.012674,-0.012674,1.000000,-0.022236,-0.012016
Vibe,-0.115722,0.000434,-0.179648,-0.213415,0.063929,-0.190725,-0.104239,-0.101431,-0.014010,-0.030827,...,-0.039012,-0.031648,-0.056280,-0.039012,-0.031648,-0.022236,-0.022236,-0.022236,1.000000,-0.021082
XLR-V8,0.441397,-0.048524,0.210118,0.150470,-0.163234,0.061469,0.047872,0.065174,-0.007571,-0.016659,...,-0.021082,-0.017102,-0.030413,-0.021082,-0.017102,-0.012016,-0.012016,-0.012016,-0.021082,1.000000

**XLR-V8 is the best factor**